*
{
    padding: 0;
    margin: 0;
    font-family: Inter,sans-serif;
}


/* header styles */

.happy_new_year_container {
background: rgba(0, 0, 0, 0.5) url('../images/Banner\ Image.png');
background-size: contain;
background-repeat: no-repeat;
background-blend-mode: darken;
margin: 30px 90px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 784px;
border-radius: 18px;
}


.happy_new_year_container h4 , .happy_new_year_container h1 {
    color: white;
    margin: 15px 0px;
}

.happy_new_year_container h4 {
    font-size: 30px;
}
.happy_new_year_container h1 {
    font-size: 90px;
}
.new_year_text {

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}